Source: gcc-mingw-w64-bootstrap
Section: devel
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Stephen Kitt <steve@sk2.org>
Build-Depends: autotools-dev,
               binutils-mingw-w64 (>= 2.20),
               debhelper (>= 7.0.50~),
               gcc-4.5-source (>= 4.5.1-11),
               libelf-dev,
               libgmp-dev,
               libmpc-dev (>= 0.8.0),
               libmpfr-dev (>= 2.3.2),
               xz-utils,
               zlib1g-dev
Standards-Version: 3.9.2
Homepage: http://www.gnu.org/software/gcc/

Package: gcc-mingw-w64-bootstrap
Architecture: i386
Depends: binutils-mingw-w64 (>= 2.20), ${misc:Depends}, ${shlibs:Depends}
Built-Using: gcc-4.5 (= ${binary:Version})
Description: The GNU Compiler Collection for MinGW-w64
 MinGW-w64 provides a development and runtime environment for 32- and
 64-bit Windows applications using the GNU Compiler Collection (gcc).
 .
 This package contains the GNU Compiler Collection, supporting
 cross-compiling to 32- and 64-bit MinGW-w64 targets. The bootstrap
 version of the package contains only the minimal C compiler required
 to build MinGW-w64.
